.molecule_personaje {
    width: 60%;
    height: 70%;
    /* background: blue; */
    margin: auto;
    align-items: center;
    position: relative; /*importante*/

    
    @media (max-width: 580px) {
        width: 100%;
        height: 40%;
        /* background: #138b69; */
        margin: auto auto 100px auto;
    }

    .yo {
        width: 50%;
        height: 100%;
        /* background: hotpink; */
        position: absolute;/*importante*/
        left: calc(50% - 25%);
        display: flex;

        & img {
            /* height: 130%; */
            width: 55%;
            top: -15%;
            left: 22%;
            position: absolute;
            /* background: red; */
            margin: auto;

            @media (max-width: 1050px) {
                & {
                    top: 1px;
                }
            }
        }
    }

    .box {
        width: 100%;
        height: calc(50% - 5%);
        /* background: salmon; */
        display: flex;
        justify-content: space-between;
        position: relative; /*importante*/
        margin: 1px auto;

        @media (max-width: 1050px) {
            height: calc(50% - 5%);
        }

        .leter {
            flex-direction: column;
            height: 100%;
            width: 15%;
            /* flex-grow: 1; */
            margin: 0px 5%;
            z-index: 3;
            justify-content: center; /*IMPORTANTE*/
            align-items: center; /*IMPORTANTE*/
            padding: auto 0px;
            /* display: flex; */
            justify-content: center;

            @media (max-width: 1050px) {
                & {
                    width: 20%;
                }
            }
        }
        
        .line_leter {
            background: var(--color_general_1);
            border: 1px solid var(--color_general_1_corder);
            position: absolute;/*importante*/
            width: 100%;
            height: 20%;
            margin: auto;
            top: calc(50% - 10%);
            border-radius: 5px;

        }
    }
    
    .cent {
        height: 10%;
        display: flex;

        & p {
            font-size: 60px;
            color: var(--color_letter_programer);
            color: var();
            font-weight: bold;
            text-shadow: 
                -1px -1px 0 var(--color_letter_programer_border),
                1px -1px 0 var(--color_letter_programer_border),
                -1px 1px 0 var(--color_letter_programer_border),
                1px 1px 0 var(--color_letter_programer_border);
            margin: auto;
            /* font-family: var(--font-roboto_blod); */
            font-family: var(--font-code_latin);
            letter-spacing: 0.3em; /* Ajusta el valor según tus necesidades */
        }
        
        @media (max-width: 1050px) {
            height: 20%;
            align-items: center;

            & p {
                font-size: 40px;
            }
        }
    }
}

@keyframes animated_01 {
    0% {
        justify-content: right;
    }
    50% {
        justify-content: left;
    }
    100% {
        justify-content: right;
    }
}

@keyframes animated_02 {
    0% {
        opacity: 0;
        /* transform: rotate(0deg); */
    }
    100% {
        opacity: 1;
        /* transform: rotate(180deg); */
    }
}

.molecule_BoxAnimate {
    background: none;
    /* background: red; */
    color: black;
    width: 200%;
    height: 200%;
    display:flex;
    flex-direction:column;
    transform: rotate(180deg);
    z-index: 1;

    
    & .item_x:nth-child(1) {
        animation-delay: 0.1s; /* El primer .item_x comienza la animación después de 1 segundo */
    }
    & .item_x:nth-child(2) {
        animation-delay: 0.2s; /* El segundo .item_x comienza la animación después de 2 segundos */
    }
    & .item_x:nth-child(3) {
        animation-delay: 0.3s; /* El tercer .item_x comienza la animación después de 3 segundos */
    }
    & .item_x:nth-child(4) {
        animation-delay: 0.4s; /* El cuarto span comienza la animación después de 4 segundos */
    }
    & .item_x:nth-child(5) {
        animation-delay: 0.5s; /* El cuarto span comienza la animación después de 4 segundos */
    }
    & .item_x:nth-child(6) {
        animation-delay: 0.6s; /* El cuarto span comienza la animación después de 4 segundos */
    }
    
    .item_x {
        display:flex;
        margin:auto;
        height: 20px;
        width: 100%;
        justify-content: right;
        animation-name: animated_01;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-fill-mode: forwards;
    }
    .item_y {
        width: calc(100% / 6);
        margin: 1px;
        display: flex;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-fill-mode: forwards;
        animation-name: animated_02;

        & img {
            width: 60%; margin:auto
        }

        &:nth-child(1) {
            animation-delay: 0.1s;
        }
        &:nth-child(2) {
            animation-delay: 0.2s;
        }
        &:nth-child(3) {
            animation-delay: 0.3s;
        }
        &:nth-child(4) {
            animation-delay: 0.4s;
        }
        &:nth-child(5) {
            animation-delay: 0.5s;
        }
        &:nth-child(6) {
            animation-delay: 0.6s;
        }
    }
}

@keyframes animated_03 {
    0% {
        transform: rotate(0deg) scale(1);
    }10%{
        transform: rotate(180deg);
    }80%{
        transform: rotate(180deg) scale(1);

    }
    100% {
        transform: rotate(180deg) scale(0.8);
    }
}

.molecule_boxAnimate_3 {
    width: 100%;

    & svg {
        /* background: greenyellow; */
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-fill-mode: forwards;
        animation-name: animated_03;
    }
}

.molecule_boxAnimate_5 {
    width: 100%;
    padding: 5px 0;
    display: flex;
    justify-content: right;

    
    & svg {
        height: 25px;
        /* background: greenyellow; */
        animation-duration: 7s;
        animation-iteration-count: infinite;
        animation-fill-mode: forwards;
        animation-name: animated_03;
    }
}

@keyframes animated_circle_1 {
    0% {
        transform: rotate(0deg);
    }100%{
        transform: rotate(360deg);
    }
}
@keyframes animated_circle_2 {
    0% {
        transform: rotate(360deg);
    }100%{
        transform: rotate(0deg);
    }
}
@keyframes animated_circle_3 {
    0% {
        transform: rotate(0deg);
    }30%{
        transform: rotate(40deg);
    }60%{
        transform: rotate(-40deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

@keyframes central {
    0% {
        fill: var(--color_artefactos_1);
    }
    12% {
        fill: var(--color_columnStile);
    }
    18% {
        fill: var(--color_artefactos_1);
    }
    25%{
        fill: var(--color_artefactos_1);
    }
    35%{
        fill: var(--color_columnStile);
    }
    41%{
        fill: var(--color_columnStile);
    }
    50%{
        fill: var(--color_artefactos_1);
    }
    100%{
        fill: var(--color_artefactos_1);
    }
}

.molecule_boxCircle {
    width: 300%;
    height: 300%;
    display: flex;
    position: relative;
    z-index: 10;
    

    .graphic {
        display: flex;
        width: 100%;
        position: absolute;
        animation-iteration-count: infinite;
        animation-fill-mode: forwards;
        animation-timing-function: linear;
        border-radius: 50%;
        fill: var(--color_artefactos_1);
    }
    
    .hidden{
        display: flex;
        transition: opacity 0.5s ease-in-out;
    }

    .central {
        /* fill: red; */
        animation-duration: 2s;
        animation-name: central;
        animation-iteration-count: infinite;
    }

    .options {
        height: 100%;
        width: 100%;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        opacity: 0;
        /* z-index: 1; */
        transition: opacity 0.5s ease-in-out;

        & .menu {
            /* background: greenyellow; */
            display: flex;
            flex-direction: column;
            /* justify-content: center; */
            align-items: center;
            
            & a {
                font-size: 25px;
                margin: 10px auto;
                font-family: var(--font-code_latin);
                color: var(--color_letter_programer);

                &:hover {
                    transform: scale(1.1);
                    font-weight: bold;
                }
            }
        }
    }
    /* & svg {
    } */
    .circle_1 {
        animation-duration: 5s;
        animation-name: animated_circle_2;
    }
    .circle_2 {
        animation-duration: 5s;
        animation-name: animated_circle_1;
    }
    .circle_4 {
        animation-duration: 10s;
        animation-name: animated_circle_1;
    }
    .circle_6 {
        animation-duration: 10s;
        animation-name: animated_circle_2;
    }
    .circle_7 {
        animation-duration: 10s;
        animation-name: animated_circle_3;
    }
    .circle_8 {
        animation-duration: 5s;
        animation-name: animated_circle_2;
    }
    .circle_9 {
        animation-duration: 5s;
        animation-name: animated_circle_2;
    }
    .circle_10 {
        animation-duration: 15s;
        animation-name: animated_circle_1;
    }
    .circle_11 {
        animation-duration: 15s;
        animation-name: animated_circle_2;
    }
}