.molecule_personaje {
    width: 60%;
    height: 70%;
    /* background: blue; */
    margin: auto;
    align-items: center;
    position: relative; /*importante*/

    
    @media (max-width: 580px) {
        width: 100%;
        height: 40%;
        /* background: #138b69; */
        margin: auto auto 100px auto;
    }

    .yo {
        width: 50%;
        height: 100%;
        /* background: hotpink; */
        position: absolute;/*importante*/
        left: calc(50% - 25%);
        display: flex;

        & img {
            /* height: 130%; */
            width: 55%;
            top: -15%;
            left: 22%;
            position: absolute;
            /* background: red; */
            margin: auto;

            @media (max-width: 1050px) {
                & {
                    top: 1px;
                }
            }
        }
    }

    .box {
        width: 100%;
        height: calc(50% - 5%);
        /* background: salmon; */
        display: flex;
        justify-content: space-between;
        position: relative; /*importante*/
        margin: 1px auto;

        @media (max-width: 1050px) {
            height: calc(50% - 5%);
        }

        .leter {
            /* background: #ff2222; */
            /* display: flex; */
            flex-direction: column;
            height: 100%;
            width: 15%;
            /* flex-grow: 1; */
            margin: 0px 5%;
            z-index: 3;
            justify-content: center; /*IMPORTANTE*/
            align-items: center; /*IMPORTANTE*/
            padding: auto 0px;
            /* display: flex; */
            justify-content: center;

            @media (max-width: 1050px) {
                & {
                    width: 20%;
                }
            }
        }
        
        .line_leter {
            background: var(--color-general_3);
            border: 1px solid var(--color-general_4_opacity);
            position: absolute;/*importante*/
            width: 100%;
            height: 20%;
            margin: auto;
            top: calc(50% - 10%);

        }
    }
    
    .cent {
        /* background: gold; */
        height: 10%;
        display: flex;

        & p {
            font-size: 60px;
            color: var(--color-general_3);
            font-weight: bold;
            text-shadow: 
                -1px -1px 0 #000,
                1px -1px 0 #000,
                -1px 1px 0 #000,
                1px 1px 0 #000;
            margin: auto;
            /* font-family: var(--font-roboto_blod); */
            font-family: var(--font-code_latin);
            letter-spacing: 0.3em; /* Ajusta el valor según tus necesidades */
        }
        
        @media (max-width: 1050px) {
            height: 20%;
            align-items: center;

            & p {
                font-size: 40px;
            }
        }
    }
}

@keyframes animated_01 {
    0% {
        justify-content: right;
    }
    50% {
        justify-content: left;
    }
    100% {
        justify-content: right;
    }
}

@keyframes animated_02 {
    0% {
        opacity: 0;
        /* transform: rotate(0deg); */
    }
    100% {
        opacity: 1;
        /* transform: rotate(180deg); */
    }
}

.molecule_BoxAnimate {
    background: none;
    color: black;
    width: 200%;
    height: 200%;
    display:flex;
    flex-direction:column;
    transform: rotate(180deg);

    
    & .item_x:nth-child(1) {
        animation-delay: 0.1s; /* El primer .item_x comienza la animación después de 1 segundo */
    }
    & .item_x:nth-child(2) {
        animation-delay: 0.2s; /* El segundo .item_x comienza la animación después de 2 segundos */
    }
    & .item_x:nth-child(3) {
        animation-delay: 0.3s; /* El tercer .item_x comienza la animación después de 3 segundos */
    }
    & .item_x:nth-child(4) {
        animation-delay: 0.4s; /* El cuarto span comienza la animación después de 4 segundos */
    }
    & .item_x:nth-child(5) {
        animation-delay: 0.5s; /* El cuarto span comienza la animación después de 4 segundos */
    }
    & .item_x:nth-child(6) {
        animation-delay: 0.6s; /* El cuarto span comienza la animación después de 4 segundos */
    }
    
    .item_x {
        display:flex;
        margin:auto;
        height: 20px;
        width: 100%;
        justify-content: right;
        animation-name: animated_01;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-fill-mode: forwards;
    }
    .item_y {
        width: calc(100% / 6);
        margin: 1px;
        display: flex;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-fill-mode: forwards;
        animation-name: animated_02;

        & img {
            width: 60%; margin:auto
        }

        &:nth-child(1) {
            animation-delay: 0.1s;
        }
        &:nth-child(2) {
            animation-delay: 0.2s;
        }
        &:nth-child(3) {
            animation-delay: 0.3s;
        }
        &:nth-child(4) {
            animation-delay: 0.4s;
        }
        &:nth-child(5) {
            animation-delay: 0.5s;
        }
        &:nth-child(6) {
            animation-delay: 0.6s;
        }
    }
}

@keyframes animated_03 {
    0% {
        transform: rotate(0deg) scale(1);
    }10%{
        transform: rotate(180deg);
    }80%{
        transform: rotate(180deg) scale(1);

    }
    100% {
        transform: rotate(180deg) scale(0.8);
    }
}

.molecule_boxAnimate_3 {
    width: 100%;

    & svg {
        /* background: greenyellow; */
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-fill-mode: forwards;
        animation-name: animated_03;
    }
}

.molecule_boxAnimate_5 {
    width: 100%;
    padding: 5px 0;
    display: flex;
    justify-content: right;

    
    & svg {
        height: 25px;
        /* background: greenyellow; */
        animation-duration: 7s;
        animation-iteration-count: infinite;
        animation-fill-mode: forwards;
        animation-name: animated_03;
    }
}

@keyframes animated_circle_1 {
    0% {
        transform: rotate(0deg);
    }100%{
        transform: rotate(360deg);
    }
}

.molecule_boxCircle {
    width: 300%;
    height: 300%;
    background:red;
    position: relative;

    
    .circle_2 {
        background: green;
        display: flex;
        width: 100%;
        & svg {
            position: absolute;
            animation-duration: 5s;
            animation-iteration-count: infinite;
            animation-fill-mode: forwards;
            animation-name: animated_circle_1;
        }
    }
}