.organism_navbar {
    height: 50px;
    width: 100%;
    /* background: salmon; */
    display: flex;
    justify-content: space-between;

    & nav {
        margin: auto 10px;
        display: flex;

        .mylog {
            /* background: red; */
            height: 50px;
            margin: 0 10px;
        }
        & ul {
            display: flex;
            /* background: blue; */
            border-radius: 10px;
            /* padding: 0 10px; */
            margin: auto 10px;
            & a {
                /* background: green; */
                height: 35px;
                width: 35px;
                margin: 10px;
                & img {
                    width: 100%;
                    height: 100%;
                }

                &:hover {
                    opacity: 80%;
                }
                &:active {
                    opacity: 100%;
                }
            }
        }

        /* TABLET SIZE */
        @media (max-width: 1050px) {
            & {
                .mylog {
                    height: 40px;
                    padding: 0 0px;
                }
                & ul {
                    padding: 0 5px;
                    & a {
                        /* background: green; */
                        height: 25px;
                        width: 25px;
                        margin: 5px;
                    }
                }
            }
        }
        /* MOVIL SIZE */
        /* @media (max-width: 580px) {
            & {
            }
        } */
    }
}

.organism_lobbyCont {
    /* background: green; */
    margin: auto;
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    & main {
        width: 100%;
        height: calc(100% - 50px);
        /* background: pink; */
        display: flex;

        .column {
            width: 50px;
            height: 100%;
            display: flex;
            /* background: firebrick; */

            @media (max-width: 1050px) {
                & {
                    display: none;
                }
            }

            .barra {
                width: 50%;
                height: 100%;
                display: flex;
                flex-direction: column;

                .barraComplement {
                    width: 100%;
                    flex-grow: 1;
                    background: var(--color_columnStile);
                }
            }
            & icon-column {
                width: 50px;
                margin: auto 0 0 0;
            }
            .light {
                width: 50%;
                height: 100%;
                background-image: url('/static/img/line_big.png'); /* reemplaza 'ruta/a/la/imagen.jpg' con la ruta de tu imagen */
                background-repeat: repeat-y;
                background-size: 100% 100%;
            }
        }
        .lobby {
            width: calc(100% - 100px);
            height: 100%;
            /* background: yellow; */
            @media (max-width: 1050px) {
                & {
                    width: 100%;
                }
            }

            .center {
                width: 100%;
                height: calc(100% - 75px);
                /* background: blueviolet; */
                display: flex;
            }
            .reproductor {
                width: 100%;
                height: 50px;
                /* background: darkorange; */
            }
            .line {
                height: 25px;
                width: calc(100% + 20px);
                background-image: url('/static/img/line_big2.png'); /* reemplaza 'ruta/a/la/imagen.jpg' con la ruta de tu imagen */
                background-repeat: repeat-x;
                background-size: 100% 100%;
                position: relative;
                left: -20px;
            }
        }
    }
    & footer {
        height: 50px;
        width: 100%;
        /* background: blue; */
        display: flex;
        justify-content: space-between;

        .footComplement {
            background: var(--color_columnStile);
            flex-grow: 1;
            height: 100%;
            width: 10px;
        }
        /* & icon-footer {
            border-left: 7px solid var(--color_base_2);
            border-right: 7px solid var(--color_base_2);
        } */
    }
}