body {
    /* background: #09da2c; */
    background: var(--color_base_1);
    color: white;
    width: calc(100vw - 0px);
    height: calc(100vh - 1px);
    padding: 0;
    display: flex;
    overflow: hidden;

}

/* Estilo para la barra de desplazamiento */
& ::-webkit-scrollbar {
    width: 5px; /* Ancho de la barra de desplazamiento */
    height: 5px; /* Altura de la barra de desplazamiento */
}
/* Estilo para la pista de la barra de desplazamiento */
& ::-webkit-scrollbar-track {
    background: #2B3846; /* Color de fondo de la pista */
}
/* Estilo para el pulgar de la barra de desplazamiento */
& ::-webkit-scrollbar-thumb {
    background: #264277; /* Color de fondo del pulgar */
}
/* Cambia el color del pulgar al pasar el mouse */
& ::-webkit-scrollbar-thumb:hover {
    background: #555;
}

:root {
    --color_base_1: #E0DDCC;
}

.style_glass{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.176)rgba(255, 255, 255, 0.144));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 2px 10px 0 #0000002d;
}