<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../static/img/favicon.ico">
    <title>Jeiro-site</title>
    <!-- <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/index/atoms.css">
    <link rel="stylesheet" href="/static/css/index/molecules.css">
    <link rel="stylesheet" href="/static/css/index/organisms.css">
    <link rel="stylesheet" href="/static/css/index/templates.css"> -->
    <!-- NOTE : PRODUCCTION -->
    <script src="../dist/style_reset.js"></script>
    <script src="../dist/style_styles.js"></script>
    <script src="../dist/styles_atoms.js"></script>
    <script src="../dist/styles_molecules.js"></script>
    <script src="../dist/styles_organisms.js"></script>
    <script src="../dist/styles_templates.js"></script>

    <!-- NOTE : STYLES TEMPLATES -->
    <!-- <link rel="stylesheet" href="/static/css/templates_styles/atoms.css">
    <link rel="stylesheet" href="/static/css/templates_styles/molecules.css">
    <link rel="stylesheet" href="/static/css/templates_styles/organisms.css">
    <link rel="stylesheet" href="/static/css/templates_styles/templates.css"> -->
    <!-- NOTE : PRODUCCTION -->
    <script src="../dist/styles_templates_atoms.js"></script>
    <script src="../dist/styles_templates_molecules.js"></script>
    <script src="../dist/styles_templates_organisms.js"></script>
    <script src="../dist/styles_templates_templates.js"></script>

</head>
<body>
    <div class="template_contModules">
        <div id="div_cont" style="margin: auto;">
            <div id="contBody" class="template_contBody">
                <!-- TODO: NAVBAR -->
                <div id="id_navbar" class="organism_navbar">
                    <nav>
                        <a href="../index.html">
                            <div class="mylog">
                                <icon-mylogo item_size="100%"></icon-mylogo>
                            </div>
                        </a>
                    </nav>
                    <nav>
                        <ul class="style_glass">
                            <a href="https://www.linkedin.com/in/jeiro-s%C3%A1nchez-4a138b2a8/" target="_blank"><img src="../static/img/rds_01.png" alt=""></a>
                            <a href="https://github.com/rtzm4d48" target="_blank"><img src="../static/img/rds_02.png" alt=""></a>
                            <a href="https://x.com/jeiro_sanchez" target="_blank"><img src="../static/img/rds_04.png" alt=""></a>
                        </ul>
                    </nav>
                </div>
                <!-- TODO: BODY -->
                 <div id="lobbyCont" class="organism_lobbyCont">
                    <div class="templates_boduContSec">
                        <div class="organism_tittle" id="tittleTempalte">
                            <section>
                                <span>
                                    <img src="../static/img/network_icon.png" alt="">
                                </span>
                                <h1>Networking</h1>
                            </section>
                        </div>
                        <!-- NOTE : CUERPO -->
                         <div class="organism_cuerpo">
                            <section id="contCuerpo">
                                <aside class="compa compaL">
                                    <img class="pefil_img" src="../static/img/network/img_01.jpeg" alt="">
                                    <h2>Victor Raul</h2>
                                    <p>Programador Backend</p>
                                    <span>
                                        <a href="https://github.com/Raul122-dev" target="_blank">
                                            <img src="../static/img/network/icon_red_2.png" alt="">
                                        </a>
                                    </span>
                                </aside>
                                <aside class="compa compaR">
                                    <img class="pefil_img" src="../static/img/network/img_02.jpeg" alt="">
                                    <h2>Andre Delgado Ruiz</h2>
                                    <p>Programador Backend</p>
                                    <span>
                                        <a href="https://www.linkedin.com/in/andredelgadoruiz/" target="_blank">
                                            <img src="../static/img/network/icon_red_1.png" alt="">
                                        </a>
                                        <a href="https://github.com/andredelgado-ruiz" target="_blank">
                                            <img src="../static/img/network/icon_red_2.png" alt="">
                                        </a>
                                    </span>
                                </aside>
                            </section>
                         </div>
                    </div>
                 </div>
            </div>
        </div>
    </div>
</body>
<!-- <script type="module" src="../static/js/index_components.js"></script>
<script type="module" src="/static/js/templates_scripts/main.js"></script> -->
<script src="../dist/index_components.js"></script>
<script src="../dist/templates_main.js"></script>
</html>