<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../static/img/favicon.ico">
    <title>Jeiro-site</title>
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/css/index/atoms.css">
    <link rel="stylesheet" href="../static/css/index/molecules.css">
    <link rel="stylesheet" href="../static/css/index/organisms.css">
    <link rel="stylesheet" href="../static/css/index/templates.css">
</head>
<body >
    <div class="template_contModules">
        <div id="div_cont" style="margin: auto;">
            <div id="contBody" class="template_contBody">
                <!-- TODO: NAVBAR -->
                <div id="id_navbar" class="organism_navbar">
                    <nav>
                        <div class="mylog">
                            <icon-mylogo item_size="100%"></icon-mylogo>
                        </div>
                    </nav>
                    <nav>
                        <ul class="style_glass">
                            <a href="https://www.linkedin.com/in/jeiro-s%C3%A1nchez-4a138b2a8/" target="_blank"><img src="../static/img/img_01.png" alt=""></a>
                            <a href="https://github.com/rtzm4d48" target="_blank"><img src="../static/img/img_02.png" alt=""></a>
                            <a href="https://x.com/jeiro_sanchez" target="_blank"><img src="../static/img/img_x.png" alt=""></a>
                        </ul>
                    </nav>
                </div>
                <!-- TODO: BODY -->
                 <div id="lobbyCont" class="organism_lobbyCont">
                    <main style="background: salmon;">
                        <h1>Hola mundo</h1>
                    </main>
                    <footer>
                        <div class="footComplement"></div>
                        <icon-footer item_size="50px"></icon-footer>
                        <div class="footComplement"></div>
                    </footer>
                 </div>
            </div>
        </div>
    </div>
</body>
<script type="module" src="../static/js/script_modules.js"></script>
<script type="module" src="../static/js/index_components.js"></script>
</html>