<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../static/img/favicon.ico">
    <title>Jeiro-site</title>
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/index/atoms.css">
    <link rel="stylesheet" href="/static/css/index/molecules.css">
    <link rel="stylesheet" href="/static/css/index/organisms.css">
    <link rel="stylesheet" href="/static/css/index/templates.css">

    <!-- NOTE : STYLES TEMPLATES -->
    <link rel="stylesheet" href="/static/css/templates_styles/atoms.css">
    <link rel="stylesheet" href="/static/css/templates_styles/molecules.css">
    <link rel="stylesheet" href="/static/css/templates_styles/organisms.css">
    <link rel="stylesheet" href="/static/css/templates_styles/templates.css">
</head>
<body>
    <div class="template_contModules">
        <div id="div_cont" style="margin: auto;">
            <div id="contBody" class="template_contBody2">
                <!-- TODO: NAVBAR -->
                <div id="id_navbar" class="organism_navbar templateNavbar">
                    <nav>
                        <a href="/">
                            <div class="mylog">
                                <icon-mylogo item_size="100%"></icon-mylogo>
                            </div>
                        </a>
                    </nav>
                    <nav>
                        <ul class="style_glass">
                            <a href="https://www.linkedin.com/in/jeiro-s%C3%A1nchez-4a138b2a8/" target="_blank"><img src="/static/img/rds_01.png" alt=""></a>
                            <a href="https://github.com/rtzm4d48" target="_blank"><img src="/static/img/rds_02.png" alt=""></a>
                            <a href="https://x.com/jeiro_sanchez" target="_blank"><img src="/static/img/rds_03.png" alt=""></a>
                        </ul>
                    </nav>
                </div>
                <!-- TODO: BODY -->
                 <div id="lobbyCont" class="organism_lobbyCont">
                    <div class="templates_boduContSec">
                        <div class="organism_tittle" id="tittleTempalte">
                            <section>
                                <span>
                                    <img src="/static/img/porfolio/porfolio_icon.png" alt="">
                                </span>
                                <h1>Porfolio</h1>
                            </section>
                        </div>
                        <!-- NOTE : CUERPO -->
                         <div class="organism_cuerpo">
                            <section id="contCuerpo" style="flex-direction: column; background-image: none;">
                                <div class="contTable">
                                    <span>
                                        <img src="/static/img/porfolio/icon_01.png" alt="">
                                        <p>My Skills</p>
                                    </span>
                                    <div class="secontContTalbel">
                                        <table>
                                            <colgroup>
                                                <col style="width: 40%; border-right: 1px solid var(--color_table-border);"> <!-- Columna "Nombre" con el doble de ancho -->
                                                <col style="width: 20%;"> <!-- Columna "Edad" -->
                                                <col style="width: 20%;border-left: 1px solid var(--color_table-border);"> <!-- Columna "País" -->
                                            </colgroup>
                                            <thead>
                                                <tr>
                                                    <th>Tool Name</th>
                                                    <th>Control</th>
                                                    <th>Projects</th>
                                                </tr>
                                            </thead>
                                            <tbody id="bodyTable">
                                                <tr>
                                                    <td><div class="skill_p selec"><div class="despl"><img src="/static/img/porfolio/icon_02.png" alt=""></div>Python</div></td>
                                                    <td><div class="control higt"><p>Higt</p></div></td>
                                                    <td><div class="skill_p"><div class="projec"><img src="/static/img/porfolio/icon_03.png" alt=""></div>23</div></td>
                                                </tr>
                                                <!-- ------------------ -->
                                                <tr>
                                                    <td><div class="skill_h selec"><div class="hijo"></div>Python</div></td>
                                                    <td><div class="control medium"><p>Medium</p></div></td>
                                                    <td><div class="skill_p"><div class="projec"><img src="/static/img/porfolio/icon_03.png" alt=""></div>23</div></td>
                                                </tr>
                                                <tr>
                                                    <td><div class="skill_h selec"><div class="hijo"></div>Python</div></td>
                                                    <td><div class="control starting"><p>Starting</p></div></td>
                                                    <td><div class="skill_p"><div class="projec"><img src="/static/img/porfolio/icon_03.png" alt=""></div>23</div></td>
                                                </tr>
                                                <!-- ------------------ -->
                                                <tr>
                                                    <td><div class="skill_p"><div class="despl"></div>Python</div></td>
                                                    <td><div class="control starting"><p>Starting</p></div></td>
                                                    <td><div class="skill_p"><div class="projec"><img src="/static/img/porfolio/icon_03.png" alt=""></div>20</div></td>
                                                </tr>
                                                <tr>
                                                    <td><div class="skill_p selec"><div class="despl"><img src="/static/img/porfolio/icon_02.png" alt=""></div>Python</div></td>
                                                    <td><div class="control starting"><p>Starting</p></div></td>
                                                    <td><div class="skill_p"><div class="projec"><img src="/static/img/porfolio/icon_03.png" alt=""></div>15</div></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <div class="contTable tableProjects">
                                    <span>
                                        <img src="/static/img/porfolio/icon_05.png" alt="">
                                        <p>Projects in which I participated</p>
                                    </span>
                                    <!-- NOTE STACK PROJECTS -->
                                    <div class="organism_contProjects">
                                        <article>
                                            <div class="inf_main">
                                                <img src="/static/img/projects_img/img_01.png" alt="">
                                                <p>Ke pasa aqui</p>
                                            </div>
                                            <hr>
                                            <div class="more_information">
                                                <p>More Information</p>
                                                <img src="/static/img/porfolio/img_06.png" alt="">
                                            </div>
                                        </article>
                                        <article>
                                            <div class="inf_main">
                                                <img src="/static/img/projects_img/img_02.png" alt="">
                                                <p>Ke pasa aqui</p>
                                            </div>
                                            <hr>
                                            <div class="more_information">
                                                <p>More Information</p>
                                                <img src="/static/img/porfolio/img_06.png" alt="">
                                            </div>
                                        </article>
                                        <article>
                                            <div class="inf_main">
                                                <img src="/static/img/projects_img/img_03.png" alt="">
                                                <p>Ke pasa aqui</p>
                                            </div>
                                            <hr>
                                            <div class="more_information">
                                                <p>More Information</p>
                                                <img src="/static/img/porfolio/img_06.png" alt="">
                                            </div>
                                        </article>
                                    </div>
                                    <!-- NOTE STACK PROJECTS -->
                                    <div class="organism_contProjects">
                                        <article>
                                            <div class="inf_main">
                                                <img src="/static/img/projects_img/img_01.png" alt="">
                                                <p>Ke pasa aqui</p>
                                            </div>
                                            <hr>
                                            <div class="more_information">
                                                <p>More Information</p>
                                                <img src="/static/img/porfolio/img_06.png" alt="">
                                            </div>
                                        </article>
                                        <article>
                                            <div class="inf_main">
                                                <img src="/static/img/projects_img/img_02.png" alt="">
                                                <p>Ke pasa aqui</p>
                                            </div>
                                            <hr>
                                            <div class="more_information">
                                                <p>More Information</p>
                                                <img src="/static/img/porfolio/img_06.png" alt="">
                                            </div>
                                        </article>
                                        <article>
                                            <div class="inf_main">
                                                <img src="/static/img/projects_img/img_03.png" alt="">
                                                <p>Ke pasa aqui</p>
                                            </div>
                                            <hr>
                                            <div class="more_information">
                                                <p>More Information</p>
                                                <img src="/static/img/porfolio/img_06.png" alt="">
                                            </div>
                                        </article>
                                    </div>
                                </div>
                            </section>
                         </div>
                    </div>
                 </div>
            </div>
        </div>
    </div>
</body>
<script type="module" src="/static/js/templates_scripts/main.js"></script>
<script type="module" src="../static/js/index_components.js"></script>
</html>