.organism_tittle {
    /* background: red; */
    height: 50px;
    /* El width lo aplicamos con js  */
    display: flex;
    justify-content: center;

    background-image: linear-gradient(90deg, var(--color_columnStile) 11px, transparent 1px);
    background-size: 3px 50%;
    background-position: bottom;
    background-repeat: no-repeat;
    /* background: blue; */

    & section {
        background: var(--color_columnStile);
        display: flex;
        height: 70%;
        margin: auto;
        border-radius: 50px;
        padding: 0 20px;

        & span {
            height: 100%;
            display: flex;

            & img {
                height: 50%;
                margin-right: 10px;
                margin: auto 5px auto 0;
            }
        }

        & h1 {
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
            color: var(--color_background_1);
            margin: auto;
        }
    }
}

.organism_cuerpo {
    /* background: rgb(31, 48, 90); */
    /* height: 100px; */
    width: 100%;
    display: flex;

    background-image: linear-gradient(90deg, var(--color_columnStile) 11px, transparent 1px);
    background-size: 3px 100%;
    background-position: center;
    background-repeat: no-repeat;
    /* background: red; */

    & section {
        /* background: red; */
        /* width: 50%; */
        /* margin: 50px auto 0 auto; */
        padding: 5px 0 0 0;
        margin: auto;
        /* height: 130px; */
        display: flex;

        background-image: linear-gradient(180deg, var(--color_columnStile) 11px, transparent 1px);
        background-size: 50% 3px;
        background-position: center;
        background-repeat: no-repeat;

        & aside {
            background: var(--color_background_1);
            border: 1px solid var(--color_background_border);
            display: flex;
            flex-direction: column;
            /* width: 100px; */
            /* height: 150px; */
            font-family: Arial, Helvetica, sans-serif;
            /* margin: 50px; */

            background-image: linear-gradient(to bottom left, var(--color_columnStile), transparent);
            background-size: 100% 100%;
            background-repeat: no-repeat;
            border-radius: 10px;
            /* background: red; */

            .pefil_img {
                /* height: 80px; */
                width: 70%;
                border-radius: 50%;
                margin: 10px auto;
            }

            & h2 {
                color: var(--color_columnStile);
                font-weight: bold;
                margin: 0;
                text-align: center;
                font-size: smaller;
                margin: 10px auto;
            }

            & p {
                color: var(--color_texto_1);
                font-size: 10px;
                text-align: center;
                margin: 0;
            }

            & span {
                margin: 10px auto;
                display: flex;
                height: 15px;

                & a {
                    /* background: yellow; */
                    height: 100%;
                    margin: 0 5px;

                    & img {
                        height: 100%;
                        margin: auto;
                        padding: 0;
                        margin: 0;
                    }
                }
            }
        }
    }

    .contTable {
        background: var(--color_table-background);
        padding: 0 20px 20px 20px;
        border-radius: 10px;
        border: 1px solid var(--color_background_border);
        margin: 0 0 30px 0;
        width: 900px;
        /* height: 200px; */
        
        @media (max-width: 1050px) {
            width: 900px;
        }
        
        @media (max-width: 580px) {
            width: calc(100% - 40px);
        }
        & span {
            display: flex;
            height: 20px;
            margin: 20px 0 10px 0;

            & p {
                font-family: Arial, Helvetica, sans-serif;
                font-weight: bold;
                color: var(--color_columnStile);
                margin: auto 5px;
            }
        }

        & table {
            width: 100%;
            border-collapse: collapse;
            /* margin-bottom: 20px; */
            font-family: Arial, sans-serif;
            /* display: flex; */
            background: var(--color_table-background);
            color: var(--color_texto_1);
            font-size: smaller;
            /* background: red; */
    
            & th, td {
                border-bottom: 1px solid var(--color_table-border);
                border-top: 1px solid var(--color_table-border);
                padding: 4px 8px;
                /* background: red; */
                /* padding: 5px 30px; */
                text-align: left;
                /* height: 20px; */
                /* background: rebeccapurple; */

                & img {
                    /* background: red; */
                    height: 10px;
                    /* margin: auto 10px; */
                    margin: auto 5px auto auto;
                    
                }

                .skill_p {
                    /* width: 15px; */
                    display: flex;
                    /* background: yellow; */
                    padding: 1px;

                    .despl {
                        /* background: blue; */
                        width: 25px;
                        display: flex;
                    }

                    .projec {
                        /* background: red; */
                        display: flex;

                        & img {
                            height: 10px;
                            margin: auto 2px;
                        }
                    }
                }

                .skill_empty {
                    display: flex;
                    padding: 1px;

                    .despl {
                        width: 25px;
                        display: flex;
                    }

                    .projec {
                        display: flex;

                        & img {
                            height: 10px;
                            margin: auto 2px;
                        }
                    }
                }

                .skill_h {
                    display: flex;
                    /* .despl {
                        background: blue;
                        width: 40px;
                        display: flex;
                    } */

                    .hijo {
                        margin: auto 4px auto 35px;
                        height: 6px;
                        width: 6px;
                        border-radius: 50%;
                        background: #c8c8c8;
                    }

                }

                .selec {
                    cursor: pointer;
                    /* background: red; */

                    &:hover {
                        opacity: 0.7;
                    }
                    &:active {
                        opacity: 1;
                    }
                }

                .control {
                    display: flex;
                    & p {
                        padding: 2px 5px;
                        border-radius: 4px;
                        font-size: 11px;
                        color: white;
                    }
                }
                .higt {
                    & p {
                        background: var(--color_table-higt);
                    }
                }
                .medium {
                    & p {
                        background: var(--color_table-medium);
                    }
                }
                .starting {
                    & p {
                        background: var(--color_table-starting);
                    }
                }
            }
            & th {
                background-color: var(--color_table-row);
                /* background: rebeccapurple; */
            }

            /* & tr {
                height: 30px;
            } */
            
            /* Estilo alternativo para filas */
            & tr:nth-child(even) {
                /* background-color: #f9f9f9; */
                background-color: var(--color_table-row);
                /* background: red;    */
            }
        }
    }

    .tableProjects {
        margin: 10px auto 0 auto;
        /* height: 150px; */
        /* background: red; */
    }
}


.organism_contProjects {
    /* background: salmon; */
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px 0;

    & article {
        background: var(--color_box-shadow);
        width: calc(33% - 10px);
        /* margin: 0 5px; */
        border-radius: 10px;
        color: white;
        padding: 5px 10px;
        margin: 0 5px;
        height: 80px;
    }

    .inf_main {
        /* background: red; */
        height: 60%;
        display: flex;


        & img {
            width: 50%;
            max-height: 100%;
            height: auto;
            margin: auto 0;
        }

        & p {
            /* background: rgb(12, 90, 47); */
            margin: auto 0;
            width: 50%;
            font-size: 10px;
            text-align: center;
            opacity: 0.8;
        }
    }
    
    & hr {
        margin: 4px 0px;
        opacity: 0.5;
    }

    .more_information {
        display: flex;
        /* background: rebeccapurple; */
        height: calc(40% - 10px);
        justify-content: space-between;
        cursor: pointer;

        &:hover {
            opacity: 0.7;
        }

        & p {
            margin: auto 0;
            font-size: 10px;
            /* background: red; */
        }

        & img {
            height: 50%;
            margin: auto 5px;
        }
    }
}

@media (max-width: 1050px) {
    /* width: 700px; */
}

@media (max-width: 580px) {
    .organism_contProjects {
        flex-direction: column;
        margin: 0;

        & article {
            width: calc(100% - 20px);
            margin: 5px 0;
            height: 90px;
        }
    }

}

.templateNavbar {
    /* background: var(--color_background_1); */
    border: 1px solid var(--color_background_border);
    border-collapse: collapse;
    width: calc(100% - 2px);

    background: linear-gradient(135deg, #0d0d181a, #07051f00);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}